pre, code
  background: $code-background
pre code
  background: transparent

// inline
:not(pre) > code
  padding: 2px 4px
  border-radius: 3px

pre
  padding: 20px;
  white-space: pre-wrap;


.gist table {
  width: auto;

  td { border: none; }
}
