article

  h1.title
    font-size: 2rem
    margin-bottom: 10px
  section
    font-family: $font-family-for-reading
    font-size: 1rem


div.tags
  margin-top: .5em
  a.tag
    display: inline-block !important
    background-color: $jade
    font-size: $tag-font-size
    color: #fff
    border-radius: 50px
    padding-left: 5px
    padding-right: 5px
    padding-top: 3px
    padding-bottom: 3px

    &:before
      content: "#"

.post-meta
  color: $post-meta-color
  font-size: $post-meta-size

a.category
  color: $jade
  text-transform: capitalize

.after-post-meta
  font-size: 13.5px;
  margin-top: 50px;
  padding-bottom: 26px;
  color: #777;
  border-bottom: #ddd 1px solid;

div.related
  .description
    font-family: $font-family-for-reading

  ul.relatedPosts
    li.relatedPost
      list-style: none

      a
        font-family: $font-family-headings
        font-weight: bold
