footer
  position: relative
  min-height: 100px
  padding-top: 20px

  div.footer-social
    text-align: center


  div.copyright
    display: block
    font-size: $copyright-size
    text-align: center
