body
  overflow-x: hidden

.main-wrapper
  padding-top: 30px
  padding-bottom: 30px
  height: 100%

  .post-item
    margin-bottom: 10px

    &:last-child
      margin-bottom: 0


    .post-info
      padding: 10px
      padding-bottom: 0

      a
        display: block
      h2.title
        margin-top: 0
        margin-bottom: 0
        font-size: 29px

      .description
        font-family: $font-family-for-reading
        color: rgba(0,0,0,.8)

      .readmore
        font-size: $read-more-font-size
        color: $read-more-color
        display: inline

        &:hover
          color: $read-more-hover-color


    img
      object-fit: cover
      border: 0
      width: 100%
      max-height: 200px
      margin: 5px 0

div.post-wrapper
  max-width: $content-width
  margin: 10px auto
  position: relative;

  img.post-image
    margin-top: 20px
    margin-bottom: 20px

.taxonomy-single-title
  max-width: 700px
  margin: 20px auto
