{{ define "header" }}{{ partial "page-header.html" . }}{{ end }}
{{ define "main" }}
<div class="post-wrapper">
  <div class="container">
    <article>
      <div class="post-meta">
        <span class="post-category">
          {{ if isset .Params "category" }}
            <a class="category" href="{{ $.Site.BaseURL }}category/{{ lower .Params.category | urlize }}/">{{ .Params.category }}</a>
          {{ end }}
        </span>
      </div>
      <h1 class="title">
        {{ .Title | markdownify }}
      </h1>
      <div class="post-meta">
        <span class="post-date">
          {{ .Date.Format "2 Jan, 2006" }}
        </span>
        &bullet;
        <span class="read-time">
          {{ .ReadingTime }} min read
        </span>
      </div>
      {{ if isset .Params "image" }}
      <img class="post-image" src="{{ .Site.Params.Imgurl }}{{ .Params.image }}" alt="image from {{ .Title }}"/>

      {{ end }}
      <section class="content">
        {{ .Content }}
      </section>
      <div class="after-post-meta">
      <ul class="all-tags">
        {{ range .Params.tags }}
        <li>
        <a class="tag" href="{{ $.Site.BaseURL }}tags/{{ lower . | urlize }}/">{{ . }}</a>
        </li>
        {{ end }}
      </div>
      </div>
    </article>
    <div class="ph3 mt2 mt6-ns">
      {{ partial "related.html" . }}
    </div>
    {{ partial "disqus.html" . }}
  </div>
</div>
{{ end }}
