<header class="clearfix page-header boxShadowBottom">
  <div class="container">
    <div class="hero">
      {{ if eq .Kind "section" }}
        {{ with (index .Site.Data.section .Section) }}
      <h1 class="hero-title">{{ .long_title }}</h1>
      <p class="hero-description">{{ .description }}</p>
        {{ end }}
      {{ else if eq .Kind "taxonomy" }}
      <span class="taxonomy">{{ upper .Data.Singular }}</span>
      <h1 class="hero-title">{{ .Title }}</h1>
      {{ else if eq .Kind "taxonomyTerm" }}
      <span class="taxonomy">{{ upper .Data.Plural }}</span>
      {{ $taxonomyname := .Data.Plural }}
      {{ $taxonomynameSingle := .Data.Singular }}
      <ul class="all-taxonomies">
        {{ range $key, $value := .Data.Terms.ByCount }}
          {{ $.Scratch.Set "friendly" $value.Name }}
          {{ $WeightedPage := index $value.WeightedPages 0 }}
          {{ $page := $WeightedPage.Page }}

          {{ if ne $taxonomyname $taxonomynameSingle }}
            {{ range (index $page.Params $taxonomyname)}}
              {{ $base := urlize (lower . )}}
              {{ if eq $base (urlize (lower $value.Name)) }}
                {{ $.Scratch.Set "friendly" .}}
              {{ end }}
            {{ end }}
          {{ else }}
            {{ $.Scratch.Set "friendly" (index $page.Params $.Data.Plural)}}
          {{ end }}
          <li>
            <a class="taxonomy-term" href="/{{ $taxonomyname | urlize }}/{{ $value.Name | urlize }}">
            {{ $.Scratch.Get "friendly" }}
            <span class="count">{{ $value.Count }}</span>
            </a>
          </li>
        {{ end }}
      </ul>
      {{ end }}
    </div>
  </div>
</header>
