<div class="social">
  <a class="icon-wrapper" href="https://github.com/{{ .Site.Social.github }}">
    <div>
      <svg class="social" viewBox="0 0 64 64">
        <use class="use-icon" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svg/social-accounts.svg#github-icon"></use>
        <use class="use-mask" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svg/social-accounts.svg#github-mask"></use>
      </svg>
    </div>
  </a>
  <a class="icon-wrapper" href="https://linkedin.com/in/{{ .Site.Social.linkedin }}">
    <div>
      <svg class="social" viewBox="0 0 64 64">
        <use class="use-icon" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svg/social-accounts.svg#linkedin-icon"></use>
        <use class="use-mask" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svg/social-accounts.svg#linkedin-mask"></use>
      </svg>
    </div>
  </a>
  <a class="icon-wrapper" href="mailto:{{ .Site.Params.Author.Email }}">
    <div>
      <svg class="social" viewBox="0 0 64 64">
        <use class="use-icon" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svg/social-accounts.svg#email-icon"></use>
        <use class="use-mask" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svg/social-accounts.svg#email-mask"></use>
      </svg>
    </div>
  </a>
</div>
