<div class="summary">
  <div class="bg-white">
    <div class="post-meta">
      <span class="post-category">
        {{ if isset .Params "category" }}
          <a class="category" href="{{ $.Site.BaseURL }}category/{{ lower .Params.category | urlize }}/">{{ .Params.category }}</a>
        {{ end }}
      </span>
    <h2 class="title">
        <a href="{{ .URL }}">{{ .Title | markdownify }}</a>
    </h2>
      <span class="post-date">
        {{ .Date.Format "2 Jan, 2006" }}
      </span>
      &bullet;
      <span class="read-time">
        {{ .ReadingTime }} min read
      </span>
    </div>
    {{ if isset .Params "image" }}
    <img src="{{ .Site.Params.Imgurl }}{{ .Params.image }}" class="post-list-image" alt="image from {{ .Title }}">
    {{ end }}
    <div class="description">
      {{ .Description  | markdownify }}
    </div>
    <a class="readmore" href="{{ .URL }}">Read more...</a>
    <ul class="all-tags">
      {{ range .Params.tags }}
      <li><a class="tag" href="{{ $.Site.BaseURL }}tags/{{ lower . | urlize }}/">{{ . }}</a></li>
      {{ end }}
    </ul>
  </div>
</div>
