{{ define "head-extra" }}

{{ end }}


{{ define "body-class" }}home{{ end }}

{{ define "header" }}{{ end }}

{{ define "main" }}
<div class="home-overlay" style="background-image: url({{ .Site.Params.Imgurl }}{{ .Site.Params.Homebg}})"></div>
<div class="overlay overlay-gray"></div>
<div class="wrapper">
  <h1>Kevin Ling</h1>

  <div class="nav">
    <ul class="links">
      <li>
        <a href="{{ "writing" | absURL }}">Writings</a>
      </li>
      <li>
        <a href="{{ "writing" | absURL }}">Wiki</a>
      </li>
      <li>
        <a href="{{ "writing" | absURL }}">About</a>
      </li>
    </ul>
  </div>
</div>
<div class="home-social-bar">
  {{ partial "social-follow.html" . }}
</div>

{{ end }}
