  <section data-anchor="page-top" class="section top-section" style="background: url(/assets/img/{{ .Site.Params.Top }}) center center no-repeat;">
    <div class="container">
      <div class="col-md-8 col-md-offset-2">
        <h1 class="brand-heading">{{ .Site.Title }}</h1>
        <span class="brand-tag"><a href="{{ .Site.BaseURL }}">{{ .Site.Params.Author.Name }}</a></span>
        <p><br /></p>
        <a href="#about" class="fa-stack fa-2x">
          <i class="fa fa-angle-double-down fa-stack-1x animated"></i>
        </a>
      </div>
    </div>
  </section>
